<div class="title">
  <% if current_organization %>
    <h1>Your Events</h1>
  <% else %>
    <h1>Events</h1>
  <% end %>

  <img src="" alt="Hands"/>
</div>


<div id="calendar"></div>



<% if current_organization %>
  <%= link_to 'New Event', new_event_path %>
<% end %>
