<div class="title">
  <% if current_organization %>
    <h1>Your Events</h1>
  <% else %>
    <h1>Events</h1>
  <% end %>

  <img src="/assets/helpingHands.png" alt="Hands" />
</div>


<div id="calendar"></div>

<div id="all-events">
  <!-- search bar only visible to users, not organizations with own events -->
  <% if current_organization.nil? %>
    <%= form_tag events_path, :method => :get do %>
      <p>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search Near", :name => nil %>
      </p>
    <% end %>
  <% end %>
</div>


<br>




<% if current_organization %>
  <%= link_to 'New Event', new_event_path %>
<% end %>
