<!--HEADER-->
<header>
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <h1>- About US -</h1>
        <br><br><br>
        <h2>FastHelp is an online platform that connects Southern Florida organizations with meaningful and impactful volunteer projects</h2>
        <br><br>
        <li class="image-item"><img src ="http://cvif.org/wp-content/uploads/2013/12/Open-House-Group.jpg"></li>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <br><br><br><br><br>
        <h1>- Why FastHelp? -</h1>
      </div>
    </div>
  </div>

  </header>
          <ul class="flex-container">
            <div><li class="flex-item">16.4%</li></div>
            <div><li class="flex-item2">are living below the poverty line</li></div>
            <div><li class="flex-item2">The Rate of Child Food-Insecurity is</li></div>
            <div><li class="flex-item">26.7%</li></div>
            <div><li class="flex-item">12.6%</li></div>
            <div><li class="flex-item2">of Children do not have education</li></div>
          </ul>
