<div id="directions" class="title">
  <h1>NEED HELP?</h1>
  <p>
    Find organizations and events near your area by entering your city or zip code in the map's search bar!
  </p>
</div>

<div id="map-container">
  <div id="map-canvas"></div>

  <div id="geocoding_fields" style="none">
    <%= text_field_tag :search, params[:search], placeholder: "Enter a place", :id => 'search_box_geocoding', class: 'search_box' %>
    <%= button_tag "Search", id: "submit_button_geocoding", data: { disable_with: "Please wait..." }, class: "submit_button" %>
  </div>
</div>



<div id="panel-container">
  <div class="panel">
    <div class="panel-title">
      <h3>Want to anounce an event?</h3>
    </div>
    <p>
      Sign up as an organization and announce all of the events you and your team are doing to help your community!
    </p>
    <a href="#" class="panel-btn">Learn More</a>
  </div>

  <div class="panel">
    <div class="panel-title">
      <h3>PANEL 2</h3>
    </div>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    </p>
    <a href="#" class="panel-btn">Learn More</a>
  </div>

  <div class="panel">
    <div class="panel-title">
      <h3>PANEL 3</h3>
    </div>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    Learn More
  </p>
    <a href="#" class="panel-btn">Learn More</a>

  </div>
</div>
