<div id="directions" class="title">
  <h1>Need Help?</h1>
  <p>
    Find organizations and events near your area by entering your city or zip code in the map's search bar!
  </p>
</div>

<div id="map-container">
  <div id="map-canvas"></div>

  <div id="geocoding_fields" style="none">
    <%= text_field_tag :search, params[:search], placeholder: "Enter a place", :id => 'search_box_geocoding', class: 'search_box' %>
    <%= button_tag "Search", id: "submit_button_geocoding", data: { disable_with: "Please wait..." }, class: "submit_button" %>
  </div>
</div>



<div id="panel-container">
  <div class="panel">
    <div class="panel-title">
      <h3>Want to anounce an event?</h3>
    </div>
    <p>
      Register as an organization! Once you're signed up, your team can post about the events you're hosting to help your community! With FastHelp, your events will be advertised to those that need really need the assistance! Be prepared to have a full house!
    </p>

    <a href="#" class="panel-btn">Org Registration</a>
  </div>

  <div class="panel">
    <div class="panel-title">
      <h3>Want to volunteer?</h3>
    </div>
    <p>
      FastHelp originated from the idea that giving help should be easy to do, as well as a rewarding, non-frustrating experience. Register as a volunteer now and see how quick and easy it is to sign up to volunteer at the events of your choosing! Start helping your community now!
    </p>
    <a href="#" class="panel-btn">Volunteer</a>
  </div>

  <div class="panel">
    <div class="panel-title">
      <h3>Need Assistance?</h3>
    </div>
    <p>
      FastHelp believes that help should be within hand's reach for those who truly need it. Find local events and organizations by putting in a zip code or city on the map's search bar (or on the organizations &amp; events pages)! You will find local shelters, food pantries, soup kitchens, and events hosted to provide assistance and relief to the community!
    </p>
    <a href="#" class="panel-btn">Learn More</a>

  </div>
</div>
