.center span {
  display: block;
  margin-top: 2rem;
  color: white;
  font-style: italic;
  font-weight: bold;
  font-size: 1rem;
  // text-shadow: -1px 0 rgb(0, 123,200), 0 1px rgb(0, 123,200), 1px 0 rgb(0, 123,200), 0 -1px rgb(0, 123,200);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  // text-shadow: 2px 2px 8px rgb(0, 123,200);
}

.headerWithImage {
  position: relative;
  width: 100%;
  height: 15rem;
}

div.headerWithImage img{
  width: 100%;
  height: 100%;
}

.center {
    position: absolute;
    left: 0;
    top: 15%;
    width: 100%;
    text-align: center;
    color: white;
    // background-color: rgba(0,0,0,0.3);
}

.center h1 {
  color: inherit;
  font-family: 'Roboto Slab', serif;
  font-weight: bolder;
  // text-shadow: -1px 0 rgb(0, 123,200), 0 1px rgb(0, 123,200), 1px 0 rgb(0, 123,200), 0 -1px rgb(0, 123,200);
  // text-shadow: 2px 2px 8px rgb(0, 123,200);
  text-shadow: 2px 2px 8px black;
  font-size: 4rem;

}

// ***************************ORG INDEX********************

div#index-orgs-container {
  width: 75%;
  margin: 0 auto;
}

div#search-near-me {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

div#search-near-me form {
  display: flex;
}

div.org {
  display: flex;
  width: 100%;
  margin-top: 1rem;
}

div.org img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

div.orgInfo {
  margin-left: 1rem;
  font-size: 1rem;
  min-height: 5rem;
}

div.orgInfo a {
  display: inline-block;
  text-decoration: none;
  color: rgb(0, 123,200);
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

div.orgInfo a:hover {
  background-color: white;
  color: #003366;
}

// *********ABOUT ORG****************************
.organizationContainer {
  display: flex;
  width: 90%;
  min-height: 30rem;
  margin: 3rem auto;
  font-size: 1rem;
}

.orgDetails {
  width: 70%;
}

.mapAddress {
  width: 30%;
}

div.mapAddress #map-container {
  width: 100%;
  height: 70%;
  margin: auto auto;
}

div.mapAddress #map-container #map-canvas {
  width: 100%;
  height: 100%;
}

div#address-container {
  height: 30%;
}

div#address-container p {
  font-size: 1rem;
  margin: 2rem auto;
  width: 60%;
}

div.orgDetails h2 {
  font-size: 3rem;
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  margin-bottom: 2rem;
}

div.orgDetails {

}
