/*******************************************************************
MAIN PAGE LAYOUT
*******************************************************************/

#directions {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

#panel-container {
  display: flex;

}

.panel {


}
